{% if dismissible %}
<div class="alert {{ value }} alert-dismissible fade show" role="alert">
    {{ notification }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert {{ value }}" role="alert">
    {{ notification }}
</div>
{% endif %}


