<div class="row ssan-tabs" id="product-recent-tabs">
        <div class="col">
            <ul class="nav nav-tabs" id="recent-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="recent-tab" data-bs-toggle="tab" href="#recent" role="tab" aria-controls="bulk" aria-selected="true">Recently Viewed</a>
                </li>
            </ul>
            <div class="tab-content" id="recent-tabs-content">
                <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                    <div class="owl-carousel">
                        {% for product in products %}

                            <a href="{{ product.href }}" ><img class="img-thumbnail p-2" alt="{{ product.title }}" src="{{ product.thumb }}"></a>


                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>







<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        dots: false,
        navText: ['<i class="fas fa-chevron-left fa-5x"></i>', '<i class="fas fa-chevron-right fa-5x"></i>'] ,
        responsive:{
            0:{
                items:2,
                slideBy: 2,
                nav:true,
                loop:( $('.item').length > 2 )
            },
            600:{
                items: 4,
                slideBy: 4,
                nav:true,
                loop:( $('.item').length > 4 )
            },
            800:{
                items: 4,
                slideBy: 4,
                nav:true,
                loop:( $('.item').length > 4 )
            },
            1000:{
                items: 8,
                slideBy: 6,
                nav:true,
                loop:( $('.item').length > 6 )
            }
        }
    })
</script>