/*font Variables*/
/*Color Variables*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,700,900");
.multi_step_form {
  /*background: #f6f9fb;*/
  display: block;
  overflow-x: hidden;
}
.multi_step_form #msform {
  text-align: left;
  position: relative;
  padding-top: 5px;
  min-height: 500px;
    height: 100vh;

  margin: 0 auto;
  background: #ffffff;
  z-index: 1;
}
.multi_step_form #msform .tittle {
  text-align: left;
  padding-bottom: 5px;
}
.multi_step_form #msform .tittle h2 {
  font: 500 24px/35px "Roboto", sans-serif;
  color: #3f4553;
  padding-bottom: 5px;
}
.multi_step_form #msform .tittle p {
  font: 400 16px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform section {
  border: 0;
  padding: 20px 20px 0;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}
.multi_step_form #msform section:not(:first-of-type) {
  display: none;
}
.multi_step_form #msform section h3 {
  font: 500 18px/35px "Roboto", sans-serif;
  text-align: center;
  color: #3f4553;
}

/*
.multi_step_form #msform section .form-control.placeholder, .multi_step_form #msform section .product_select.placeholder {
  color: #5f6771;
}
.multi_step_form #msform section .form-control:-moz-placeholder, .multi_step_form #msform section .product_select:-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform section .form-control::-moz-placeholder, .multi_step_form #msform section .product_select::-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform section .form-control::-webkit-input-placeholder, .multi_step_form #msform section .product_select::-webkit-input-placeholder {
  color: #5f6771;
}*/
.multi_step_form #msform section .form-control:hover, .multi_step_form #msform section .form-control:focus, .multi_step_form #msform section .product_select:hover, .multi_step_form #msform section .product_select:focus {
  border-color: #5cb85c;
}
/*
.multi_step_form #msform section .form-control:focus.placeholder, .multi_step_form #msform section .product_select:focus.placeholder {
  color: transparent;
}
.multi_step_form #msform section .form-control:focus:-moz-placeholder, .multi_step_form #msform section .product_select:focus:-moz-placeholder {
  color: transparent;
}
.multi_step_form #msform section .form-control:focus::-moz-placeholder, .multi_step_form #msform section .product_select:focus::-moz-placeholder {
  color: transparent;
}
.multi_step_form #msform section .form-control:focus::-webkit-input-placeholder, .multi_step_form #msform section .product_select:focus::-webkit-input-placeholder {
  color: transparent;
}
*/



.multi_step_form #msform section .input-group {
  padding-bottom: 40px;
}


.multi_step_form #msform #progressbar {
  margin-bottom: 0px;
  overflow: hidden;
  text-align: center;
}
.multi_step_form #msform #progressbar li {
  list-style-type: none;
  color: #99a2a8;
  font-size: 9px;
  width: calc(100%/5);
  float: left;
  position: relative;
  font: 500 13px/1 "Roboto", sans-serif;
}
.multi_step_form #msform #progressbar li:nth-child(2):before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: "\f041";
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: "\f48b";
}

.multi_step_form #msform #progressbar li:nth-child(4):before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: "\f0ae";
}



.multi_step_form #msform #progressbar li:nth-child(5):before {

  content: "\f09d";
}

.multi_step_form #msform #progressbar li:before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: "\f502";
  font: normal 900 normal 30px/50px "Font Awesome 6 Pro";
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  background: #eaf0f4;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}
.multi_step_form #msform #progressbar li:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #eaf0f4;
  position: absolute;
  left: -50%;
  top: 21px;
  z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}
.multi_step_form #msform #progressbar li.active {
  color: #5cb85c;
}
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
  background: #5cb85c;
  color: white;
}
.multi_step_form #msform .action-button {
  background: #5cb85c;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 130px;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #5cb85c;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
}
.multi_step_form #msform .action-button:hover, .multi_step_form #msform .action-button:focus {
  background: #405867;
  border-color: #405867;
}
.multi_step_form #msform .previous_button {
  background: transparent;
  color: #99a2a8;
  border-color: #99a2a8;
}
.multi_step_form #msform .previous_button:hover, .multi_step_form #msform .previous_button:focus {
  background: #405867;
  border-color: #405867;
  color: #fff;
}

.multi_step_form #msform select {
  font-size: 12px;
}

.card-header-green {
  background-color: #5cb85c;
}

.card-header-green h3 {
  color: white !important;
}

.modal-transparent{
  background-color: transparent;
  border: navajowhite;
}

#overlayCheckout .modal-content {
  background-color: transparent;
  border: none;
}
#overlayCheckout .modal-body {
  color: white;

}

.multi_step_form #msform section {
  display: none;
}

.multi_step_form #msform section.active {
  display: block;
}
