
{% for payment_method in payment_methods %}
<div class="row align-self-center">
    <div class="col-12">
{{ payment_method }}
    </div>
</div>
{% endfor %}

<script>
    //call when page is full loaded
</script>

