<div class="" id="textpanel-{{ panel }}">
    {% for textarea in bespoke_text_areas %}
        {{ textarea }}
    {% endfor %}
</div>
<div class="pt-2">
    <button class="btn btn-default" type="button" id="newTextBlock" data-toggle="tooltip" data-placement="top" title="Add New Text Block"><i class="icon-bars-plus"> - Add new text block</i></button>
</div>