<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-2">
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <i class="fas fa-id-card fa-2x"></i>   RETURNING Customers
            </div>
            <div class="card-body">
                <h4 class="card-title">All ready got an account with us? Great...<p>Just login in below to use your saved address details</p></h4>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingUserEmail" placeholder="name@example.com">
                    <label for="floatingUserEmail">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>

                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="showHidePassword">
                    <label class="form-check-label" for="showHidePassword">Show Password</label>
                    <div id="passwordForgot" class="form-text"><a href="forgot">Forgot your password?</a></div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-success ">Login and Continue</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <i class="far fa-user-circle fa-2x"></i>  NEW Customer Checkout
            </div>
            <div class="card-body">
                <h4 class="card-title">Create and account or checkout as a guest. Below are some of the benefits of creating at account.</h4>
                <ul>
                    <li>Faster future checkouts</li>
                    <li>Order status checker</li>
                    <li>Downloadable invoices</li>
                    <li>Previous orders</li>
                </ul>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioNewCustomerAccount" id="radioCreateAccount" checked>
                    <label class="form-check-label" for="radioCreateAccount">
                        <strong>CREATE ACCOUNT</strong><br>Yes...your site is awesome, sign me up!
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioNewCustomerAccount" id="radioGuestAccount">
                    <label class="form-check-label" for="radioGuestAccount">
                        <strong>GUEST CHECKOUT</strong><br>It's OK...this is a one time things.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkoutAgreeTerms">
                    <label class="form-check-label" for="checkoutAgreeTerms">
                        I agree to the <a href="terms">terms and conditions</a>
                    </label>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-success ">Continue with checkout</button>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <i class="fas fa-running fa-2x"></i>  QUICK Pay
            </div>
            <div class="card-body">
                <h4 class="card-title">To make life easier we offer the following ways to checkout faster</h4>
            </div>
        </div>
    </div>
</div>