<form id="shipping_type" method="post" data-action-url="tsg/checkout_shipping/save" data-action-function="getConfirms">
    <h3>Choose your shipping option</h3>
   <div  class="row pb-4">
       <div class="col d-flex justify-content-center" id="shipping_type_options">
       </div>
   </div>
    <input type="hidden" id="shipping_option" name="shipping_option" value="-1">
    <button type="button" class="action-button previous previous_button float-start">Back</button>
    <button type="button" class="next action-button float-end" id="checkout-shipping-btn">Continue</button>

</form>
