
<div class="row justify-content-center">
    <div class="col-12 col-lg-12 text-start">
        <h3 class="text-start">Your account is setup with a Purchase order option</h3>
        <p>If you would like to pay via Purchase Order, Please enter your order reference below and submit your order</p>
    </div>
    <div class="col-12 col-lg-12">
        <form class="row align-items-stretch" method="post" action="index.php?route=extension/payment/purchaseorder/confirm">
            <div class="col-12 col-lg-9 d-grid gap-2 mx-auto">
                <input type="hidden" id="payment_method" name="payment_method" value="purchaseorder">
                <div class="form-floating h-100">
                    <input type="input" class="form-control h-100" id="customer_order_ref" name="customer_order_ref" placeholder="Purchase reference #" required value="{{ customer_order_ref }}">
                    <label for="customer_order_ref">Purchase Reference</label>
                </div>
            </div>
            <div class="col-12 col-lg-3 d-grid gap-2 mx-auto">
                <button type="submit" class="btn btn-success btn-lg w-100 h-100">Submit Order</button>
            </div>
        </form>
    </div>
</div>
<hr class="w-75 ms-auto me-auto pt-2">
