<form id="form-header-search" name="form-header-search">
  <div class="typeahead__container">
    <div class="typeahead__field input-group">
      <input class="js-typeahead-header-search input-lg form-control" name="search" type="search" value="{{ search }}" placeholder="Start typing to Search...e.g Fire Exit Left" autocomplete="off">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search fa-2x"></i>
        </button>
      </span>
    </div>
  </div>
</form>
