<?php
//==============================================================================
// Stripe Payment Gateway Pro v2024-6-24
// 
// Author: Clear Thinking, LLC
// E-mail: johnathan@getclearthinking.com
// Website: http://www.getclearthinking.com
// 
// All code within this file is copyright Clear Thinking, LLC.
// You may not copy or reuse code within this file without written permission.
//==============================================================================
?>

<?php echo $header; ?>

<style type="text/css">
	hr {
		border: 0;
		border-top: 1px solid #EEE;
		margin: 20px 0;
	}
	.pull-right {
		float: right;
	}
	.card-block, .input-block-name, .input-block, .subscription-block {
		display: inline-block;
	}
	.card-block {
		margin: 7.5px;
	}
	.input-block-name {
		padding: 8px 10px 16px 0;
		text-align: right;
		width: 200px;
		vertical-align: top;
	}
	#card-name {
		width: 200px;
	}
	#card-element {
		background: #FFF;
		border: 1px solid #DDD;
		border-radius: 10px;
		margin-right: 10px;
		padding: 0 15px;
		vertical-align: middle;
		width: 400px;
		max-width: 100%;
	}
	.StripeElement--complete {
		border: 1px solid #0C0 !important;
	}
	#card-address1, #card-address2, #card-city, #card-zone, #card-postcode {
		display: block;
		margin-bottom: 4px;
	}
	.required-field {
		border: 1px solid #F00 !important;
	}
	.subscription-block {
		margin: 0 7.5px;
	}
	#pause-duration {
		display: inline-block;
		margin-right: 25px;
		vertical-align: top;
		width: 100px;
	}
	*[disabled] {
		opacity: 0.65;
		pointer-events: none;
	}
	/* Journal fixes */
	.extended-container .container {
		background: white;
		margin: 0 auto;
		max-width: 1140px;
	}
	h4 {
		text-transform: none;
	}
</style>

<div class="container">
	<ul class="breadcrumb">
		<?php foreach ($breadcrumbs as $breadcrumb) { ?>
			<li class="breadcrumb-item">
				<a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
			</li>
		<?php } ?>
	</ul>
	
	<div class="row">
		<?php echo $column_left; ?>
		
		<?php if ($column_left && $column_right) { ?>
			<?php $class = 'col-sm-6'; ?>
		<?php } elseif ($column_left || $column_right) { ?>
			<?php $class = 'col-sm-9'; ?>
		<?php } else { ?>
			<?php $class = 'col-sm-12'; ?>
		<?php } ?>
		
		<div id="content" class="<?php echo $class; ?>">
			<?php echo $content_top; ?>
			
			<?php if ($settings['allow_stored_cards']) { ?>
				<h1><?php echo html_entity_decode($settings['cards_page_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?></h1>
				<hr>
				
				<?php if (!empty($cards)) { ?>
					<?php foreach ($cards as $card) { ?>
						<div>
							<div class="card-block"><?php echo $card['text']; ?></div>
							
							<div class="pull-right">
								<?php if ($card['default']) { ?>
									<?php echo html_entity_decode($settings['cards_page_default_card_' . $language], ENT_QUOTES, 'UTF-8'); ?> &nbsp; &nbsp; &nbsp;
								<?php } else { ?>
									<a class="button btn btn-primary" onclick="modifyObject('make_default', $(this), '<?php echo $card['id']; ?>')">
										<?php echo $settings['cards_page_make_default_' . $language]; ?>
									</a>
								<?php } ?>
								<a class="button btn btn-danger" onclick="modifyObject('delete_card', $(this), '<?php echo $card['id']; ?>')">
									<?php echo $settings['cards_page_delete_' . $language]; ?>
								</a>
							</div>
						</div>
						<hr>
					<?php } ?>
				<?php } else { ?>
					<?php echo html_entity_decode($settings['cards_page_none_' . $language], ENT_QUOTES, 'UTF-8'); ?>
					<hr>
				<?php } ?>
				
				<div id="new-card" style="display: none">
					<div class="input-block-name"><?php echo html_entity_decode($settings['cards_page_card_name_' . $language], ENT_QUOTES, 'UTF-8'); ?></div>
					<div class="input-block"><input type="text" id="card-name" class="form-control" value="<?php echo $customer_name; ?>" /></div>
					<br>
					<div class="input-block-name"><?php echo html_entity_decode($settings['cards_page_card_details_' . $language], ENT_QUOTES, 'UTF-8'); ?></div>
					<div class="input-block"><div id="card-element"></div></div>
					<br>
					<div class="input-block-name"><?php echo html_entity_decode($settings['cards_page_card_address_' . $language], ENT_QUOTES, 'UTF-8'); ?></div>
					<div class="input-block">
						<input type="text" id="card-address1" class="form-control" value="" placeholder="<?php echo str_replace(':', '', $entry_address_1); ?>" />
						<input type="text" id="card-address2" class="form-control" value="" placeholder="<?php echo str_replace(':', '', $entry_address_2); ?>" />
						<input type="text" id="card-city" class="form-control" value="" placeholder="<?php echo str_replace(':', '', $entry_city); ?>" />
						<input type="text" id="card-zone" class="form-control" value="" placeholder="<?php echo str_replace(':', '', $entry_zone); ?>" />
						<input type="text" id="card-postcode" class="form-control" value="" placeholder="<?php echo str_replace(':', '', $entry_postcode); ?>" />
						<select id="card-country" class="<?php echo (version_compare(VERSION, '4.0', '<')) ? 'form-control' : 'form-select'; ?>">
							<?php foreach ($countries as $iso_code => $country) { ?>
								<option value="<?php echo $iso_code; ?>"><?php echo $country; ?></option>
							<?php } ?>
						</select>
					</div>
				</div>
				
				<div class="input-block-name">
					<a class="button btn btn-success" onclick="if ($('#new-card').css('display') == 'none') { $('#new-card').slideDown(); } else { createPaymentMethod($(this)); }">
						<?php echo $settings['cards_page_add_card_' . $language]; ?>
					</a>
				</div>
				
				<br><br>
			<?php } ?>
			
			<?php if (isset($subscriptions)) { ?>
				<h1><?php echo html_entity_decode($settings['subscriptions_page_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?></h1>
				<hr>
				
				<?php if ($settings['subscriptions_page_message_' . $language]) { ?>
					<div><?php echo html_entity_decode($settings['subscriptions_page_message_' . $language], ENT_QUOTES, 'UTF-8'); ?></div>
					<hr>
				<?php } ?>
				
				<?php if ($subscriptions) { ?>
					<?php foreach ($subscriptions as $subscription) { ?>
						<div>
							<div class="subscription-block">
								<strong><?php echo $subscription['plan']; ?></strong>
								<br>
								<?php if (!empty($subscription['resumes_at'])) { ?>
									<?php echo html_entity_decode($settings['subscriptions_page_paused_until_' . $language], ENT_QUOTES, 'UTF-8'); ?>
									<?php echo date($date_format_short, $subscription['resumes_at']); ?>
									<br>
								<?php } ?>
								<?php if ($subscription['trial']) { ?>
									<?php echo html_entity_decode($settings['subscriptions_page_trial_' . $language], ENT_QUOTES, 'UTF-8'); ?>
									<?php echo date($date_format_short, $subscription['trial']); ?>
								<?php } else { ?>
									<?php echo html_entity_decode($settings['subscriptions_page_last_' . $language], ENT_QUOTES, 'UTF-8'); ?>
									<?php echo date($date_format_short, $subscription['last']); ?>
								<?php } ?>
								<br>
								<?php echo html_entity_decode($settings['subscriptions_page_next_' . $language], ENT_QUOTES, 'UTF-8'); ?>
								<?php echo date($date_format_short, $subscription['next']); ?>
								<?php if (!empty($settings['subscriptions_page_cycles_' . $language]) && !empty($subscription['cycles'])) { ?>
									<br>
									<?php echo html_entity_decode($settings['subscriptions_page_cycles_' . $language], ENT_QUOTES, 'UTF-8') . ' ' . $subscription['cycles']; ?>
								<?php } ?>
								<?php foreach ($subscription['invoiceitems'] as $invoiceitem) { ?>
									<br>
									<?php echo html_entity_decode($settings['subscriptions_page_charge_' . $language], ENT_QUOTES, 'UTF-8'); ?>
									<?php echo $invoiceitem; ?>
								<?php } ?>
							</div>
							
							<div class="pull-right">
								<?php if ($settings['manage_subscriptions'] == 'pause' || $settings['manage_subscriptions'] == 'cancel_and_pause') { ?>
									<?php if (empty($subscription['paused'])) { ?>
										<a class="button btn btn-primary" onclick="modifyObject('pause_subscription', $(this), '<?php echo $subscription['id']; ?>')"><?php echo html_entity_decode($settings['subscriptions_page_pause_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
										<?php if (!empty($settings['pause_options'])) { ?>
											<select id="pause-duration" class="<?php echo (version_compare(VERSION, '4.0', '<')) ? 'form-control' : 'form-select'; ?>">
												<?php foreach (explode(',', $settings['pause_options']) as $week) { ?>
													<option value="<?php echo $week; ?>"><?php echo $week . ' ' . ($week == 1 ? str_replace('eeks', 'eek', $settings['subscriptions_page_weeks_' . $language]) : $settings['subscriptions_page_weeks_' . $language]); ?></option>
												<?php } ?>
											</select>
										<?php } ?>
									<?php } else { ?>
										<a class="button btn btn-warning" onclick="modifyObject('unpause_subscription', $(this), '<?php echo $subscription['id']; ?>')"><?php echo html_entity_decode($settings['subscriptions_page_unpause_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
									<?php } ?>
								<?php } ?>
								
								<?php if ($settings['manage_subscriptions'] == 'cancel' || $settings['manage_subscriptions'] == 'cancel_and_pause') { ?>
									<a class="button btn btn-danger" onclick="modifyObject('cancel_subscription', $(this), '<?php echo $subscription['id']; ?>')"><?php echo html_entity_decode($settings['subscriptions_page_cancel_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
								<?php } ?>
							</div>
						</div>
						<hr>
					<?php } ?>
				<?php } else { ?>
					<?php echo html_entity_decode($settings['subscriptions_page_none_' . $language], ENT_QUOTES, 'UTF-8'); ?>
					<hr>
				<?php } ?>
			<?php } ?>
			
			<div class="buttons clearfix">
				<a href="<?php echo $back; ?>" class="button btn btn-default btn-light"><?php echo $button_back; ?></a>
			</div>
			<?php echo $content_bottom; ?>
		</div>
		
		<?php echo $column_right; ?>
	</div>
</div>

<script>
	<?php if ($settings['transaction_mode'] == 'live') { ?>
		if (window.location.protocol != 'https:') {
			$('.breadcrumb').after('<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> &nbsp; You are in LIVE mode but are not on a secure (https) connection! Payment info is not secure!</div>');
		}
	<?php } ?>
	
	var stripe;
	var card;
	
	$.getScript('https://js.stripe.com/v3/', function(data) {
		stripe = Stripe('<?php echo $settings[$settings['transaction_mode'] . '_publishable_key']; ?>', {stripeAccount: '<?php echo $settings['account_id']; ?>'});
		
		stripeElements = stripe.elements({locale: '<?php echo substr($language, 0, 2); ?>'});
		
		card = stripeElements.create('card', {
			hidePostalCode: true,
			iconStyle: 'default', // use 'solid' if you are on a dark background
			style: {
				base: {
					// full styling options are available at https://stripe.com/docs/stripe.js#element-options
					color: '#444',
					fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
					fontSize: '15px',
					iconColor: '#66F',
					lineHeight: '40px',
					'::placeholder': {
						color: '#CCC',
					},
				},
			}
		});
		
		card.mount('#card-element');
	});
	
	function createPaymentMethod(element) {
		var address = true;
		$('#card-address1, #card-city, #card-zone, #card-postcode').removeClass('required-field');
		
		if (!$('#card-address1').val()) {
			$('#card-address1').addClass('required-field');
			address = false;
		}
		if (!$('#card-city').val()) {
			$('#card-city').addClass('required-field');
			address = false;
		}
		if (!$('#card-zone').val()) {
			$('#card-zone').addClass('required-field');
			address = false;
		}
		if (!$('#card-postcode').val()) {
			$('#card-postcode').addClass('required-field');
			address = false;
		}
		
		if (!address) return;
		
		var billingDetails = {
			name: $('#card-name').val(),
			email: '<?php echo $customer_email; ?>',
			address: {
				line1: $('#card-address1').val(),
				line2: $('#card-address2').val(),
				city: $('#card-city').val(),
				state: $('#card-zone').val(),
				postal_code: $('#card-postcode').val(),
				country: $('#card-country').val()
			},
		};
		
		element.attr('disabled', 'disabled');
		
		stripe.createPaymentMethod('card', card, {
			billing_details: billingDetails,
		}).then(function(result){
			if (result.error) {
				alert(result.error.message);
				element.removeAttr('disabled');
			} else {
				modifyObject('add_card', element, result.paymentMethod.id);
			}
		});
	}
	
	function modifyObject(request, element, id) {
		if (request == 'cancel_subscription') {
			if (prompt('<?php echo $settings['subscriptions_page_confirm_' . $language]; ?>') != 'CANCEL') return;
		} else if (request != 'make_default') {
			if (!confirm('<?php echo $settings['cards_page_confirm_' . $language]; ?>')) return;
		}
		
		var text = element.text();
		element.html('<?php echo $settings['text_please_wait_' . $language]; ?>').attr('disabled', 'disabled');
		
		var duration = '';
		if ($('#pause-duration').val()) {
			duration = '&duration=' + $('#pause-duration').val();
		}
		
		$.get('index.php?route=<?php echo $settings['extension_route']; ?>/modifyObject&request=' + request + '&id=' + id + duration,
			function(data) {
				if (data.trim()) {
					alert(data.trim());
					element.html(text).removeAttr('disabled');
				} else {
					alert('<?php echo $settings['cards_page_success_' . $language]; ?>');
					location.reload();
				}
			}
		);
	}
</script>

<?php echo $footer; ?>